body,
html {
    margin: 0;
    width: 100%;
}
body {
    header {
        width: 100%;
        position: fixed;
        
        .nav-toggle {
            display: none;
        }
        .profile-nav {
            // display: flex;
            background-color: #9c91ff8f;
            ul {
                display: flex;

                li {
                    padding: 20px 40px;

                    a {
                        font-size: 16px;
                        color: #19235c;

                        &:hover {
                            color: #c6cfff;
                            transition: ease-in-out 0.3s;
                        }
                    }
                }
            }
        }
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
